<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="PerformanceSaveIntervalInSeconds" value="60" xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
    <add key="msmqName" value=".\Private$\CS_to_BL" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>

  <system.diagnostics xdt:Transform="Replace">
    <sources>
      <source name="System.ServiceModel"
              switchValue="Warning"
              propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="Diagnostics\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>

</configuration>