<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="msmqName" value=".\Private$\CS_to_BL"/>
    <add key="PerformanceSaveIntervalInSeconds" value="60"/>

    <!--Start taking events from the Msmq when no rules were loaded-->
    <add key="dryRun" value="false"/>

  </appSettings>

  <!--BL API WCF Services-->
  <system.serviceModel>

    <services>

      <!-- RuleService -->
      <service behaviorConfiguration="MexBehaviour" name="ZF.BL.Nesper.Wcf.Service.RuleService">
        <clear/>
        <endpoint address="" binding="basicHttpBinding" contract="ZF.BL.Nesper.Wcf.Service.IRule"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" listenUriMode="Explicit"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8005/services/RuleService"/>
          </baseAddresses>
        </host>
      </service>

      <!-- BulkRulesService -->
      <service behaviorConfiguration="MexBehaviour" name="ZF.BL.Nesper.Wcf.Service.BulkRulesService">
        <clear/>
        <endpoint address="" binding="basicHttpBinding" contract="ZF.BL.Nesper.Wcf.Service.IBulkRules"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" listenUriMode="Explicit"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8005/services/BulkRulesService"/>
          </baseAddresses>
        </host>
      </service>

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MexBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceMetadata httpGetEnabled="true" policyVersion="Default"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="BLBehaviourConfig">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BLBinding" closeTimeout="01:30:00" openTimeout="01:30:00" receiveTimeout="01:30:00" sendTimeout="01:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="5242880" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="320" maxStringContentLength="52428800" maxArrayLength="52428800" maxBytesPerRead="409600" maxNameTableCharCount="52428800"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost:8004/services/AlertService" binding="basicHttpBinding" contract="ZF.BL.Nesper.Wcf.Client.IAlert" bindingConfiguration="BLBinding" behaviorConfiguration="BLBehaviourConfig"/>

      <endpoint address="http://localhost:8004/services/PerformanceService" binding="basicHttpBinding" contract="ZF.BL.Nesper.Wcf.Client.INodePerformance" bindingConfiguration="BLBinding" behaviorConfiguration="BLBehaviourConfig"/>
    </client>

  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
