<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender_Nesper" type="log4net.Appender.RollingFileAppender">
      <file value="Diagnostics\\BL.Nesper.txt" />
      <appendToFile value="true" />
	  <rollingStyle value="Size" />
	  <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
	  <staticLogFileName value="true" />      
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender_Alerts" type="log4net.Appender.RollingFileAppender">
      <file value="Diagnostics\\BL.Alerts.txt" />
      <appendToFile value="true" />
	  <rollingStyle value="Size" />
	  <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
	  <staticLogFileName value="true" />      
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender_Exceptions" type="log4net.Appender.RollingFileAppender">
      <file value="Diagnostics\\BL.Exceptions.txt" />
      <appendToFile value="true" />
	  <rollingStyle value="Size" />
	  <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
	  <staticLogFileName value="true" />      
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c (%file:%line) %m%n" />
      </layout>
    </appender>
    <appender name="MessageConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red,HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow,HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Cyan" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n" />
      </layout>
    </appender>

    <root>
      <level value="ERROR" />
      <appender-ref ref="TraceAppender" />
    </root>

    <logger name="BL.EventProcessing">
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender_Nesper" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="MessageConsoleAppender" />
    </logger>

    <logger name="BL.Alerts">
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender_Alerts" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="MessageConsoleAppender" />
    </logger>

    <logger name="BL.Exceptions">
      <level value="DEBUG" />
      <appender-ref ref="MessageConsoleAppender" />
      <appender-ref ref="LogFileAppender_Exceptions" />
      <appender-ref ref="LogFileAppender_Nesper" />
      <appender-ref ref="TraceAppender" />
    </logger>

    <logger name="Stats">
      <level value="DEBUG" />
      <appender-ref ref="MessageConsoleAppender" />
      <appender-ref ref="LogFileAppender_Nesper" />
      <appender-ref ref="TraceAppender" />
    </logger>

  </log4net>

</configuration>